@charset "UTF-8";

/* 프로필 기본 */

body {
  background-color: #f0f0f0;
  height: 100vh;
}
.container {
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
.profileImg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.15);
}

h1,h2,p {
  text-align: center;
}

.contact {
  text-align: center;
}
.contact a {
  margin: 5px;
}

.formContainer {
  margin-top: 20px;
}

form {}
label, input {
  margin-bottom: 10px;
}

button {}